.torque-edit {
    display: inline-block;
    width: 3px ;
    height: 12px ;
    background: black;
    position: relative ;
    transform: rotate(30deg);
    margin: -2px 10px; /* :( */
}

.torque-edit::before {
    content: "" ;
    position: absolute ;
    width: 2px ;
    height: 2px ;
    background: black;
    top: -3px ;
}
.torque-edit::after {
    content: "" ;
    position: absolute ;
    width: 3px ;
    height: 3px ;
    background: black;
    bottom: -1px ;
    transform: rotate(45deg);
}

.torque-edit-button {
    display: inline;
    border: solid rgb(162, 169, 177) 1px;
    background: linear-gradient(0deg, rgba(203, 211, 221 ,1) 0%, rgba(255,255,255,1) 70%);
    padding: 3px 0;
    border-radius: 5px;
    margin: 0 1em;
}

.torque-edit-button:hover {
    background: transparent;
    cursor: pointer;
}

.torque-save {
    background-color: #3870D3;
    color: #FFF;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
}

/* hack to place edit buttons inline with paragraphs */
.mw-parser-output > p {
    display: inline;
}
